<!doctype html>
<title>Karyn Reader's Website</title>
<link rel=stylesheet type=text/css href="../static/css/view.css">
<link rel="shortcut icon" href="../static/img/picture.png"/>
<script src='../static/js/analytics.js'></script>
  <div id="navbar">
    <h1>Karyn Reader, MSW, LCSW</h1>
    <ul id="nav">
      <li><a href="../index.html">Home</a></li>
      <li><a href="./qualifications.html">Qualifications</a></li>
      <li><a href="./approach.html" class="active">Philosophy</a></li>
      <li><a href="./fees.html">Payment</a></li>
      <li><a href="./contact.html">Contact</a></li>
  </ul>
</div>

  <div class="approach-content">
    <p>My approach combines my analytic training with my own down to earth pragmatism. People find me to be warm, caring and an excellent listener. I give feedback and I’m an active participant in the session.  I have substantial life experience, having faced many challenges of my own. These, along with my analytic training, have taught me that there are many ways to overcome difficulties and hardships.</p>

      <p>The stereotypical notion of psychoanalytic work is totally outdated. With new theory and technique, analytically informed therapists may be the best kept secret out there with skills that allow working in depth while still being totally present and engaged with you.</p>

      <p>I’ll work with you as a whole person -- we won’t simply focus on the symptom. Symptoms are signals that something is not right in your world. Some people will benefit from medication, and for those, I work collaboratively with psychiatrists and nurses who prescribe psychotropic medications. Rarely will I insist on the use of medication. Our focus will be on what’s going on in your current life, relevant history, as well as the evolving therapy relationship itself. By so doing, you’ll most likely find that your symptoms do get resolved and that you find relief.</p>

        <p>I also do group therapy.  Here people learn from interacting with each other in a safe, confidential environment.  Even people who on the outside seem so different from each other find so many commonalities among themselves, and there is great strength in this discovery.  Group members explore and experiment with relationships that later help them with other relationships in their lives.  Everyone loves the group, looks forward to it and benefits.  It is a powerful way of working on one's issues.</p>

      <p>Most of us grew up and adapted to the personalities and expectations of our family of origin. Those adaptations became part of who we are. Unfortunately, what was adaptive in childhood may be maladaptive in our relationships with important people now. You'll learn to distinguish earlier needs, behaviors and feelings from those that will be more functional in the present. Everyone wants satisfying, happy relationships and to feel good about themselves. Therapy will help you see how you may be unknowingly interfering with these goals yourself. You can’t change the other people in your life, but you can better understand what’s happening and find ways for you to improve and resolve complex situations and feelings. You’ll gain a new and different view of what’s occurring as well as resolving issues you haven’t yet been able to work out on your own. The ultimate goal of therapy is to help you to help yourself.</p>
  </div>