<!doctype html>
<title>Karyn Reader's Website</title>
<link rel=stylesheet type=text/css href="../static/css/view.css">
<link rel="shortcut icon" href="../static/img/picture.png"/>
<script src='../static/js/analytics.js'></script>
  <div id="navbar">
    <h1>Karyn Reader, MSW, LCSW</h1>
    <ul id="nav">
      <li><a href="../index.html">Home</a></li>
      <li><a href="./qualifications.html">Qualifications</a></li>
      <li><a href="./approach.html">Philosophy</a></li>
      <li><a href="./fees.html" class="active">Payment</a></li>
      <li><a href="./contact.html">Contact</a></li>
  </ul>
</div>

  <div class="fee-content">
    <p>Most health insurance plans provide coverage for outpatient mental health treatment, also known as psychotherapy. Many insurance companies refer to this as behavioral health. The Paul Wellstone-Dominici Act, which went into law as of January 1, 2010 gave parity to psychotherapy consumers regardless of diagnosis. This means that insurance companies have to treat mental health the way they treat any other health issue. Medical coverage for companies with 50 employees or more cannot legally limit your number of visits for psychotherapy.</p>

    <p>I am in network with Medicare.  Additionally, everyone I work with gets excellent reimbursement from Cigna, United Healthcare, Horizon Blue Cross Blue Shield, other Blue Cross Blue Shield Plans, and Aetna. Although I am out of network with these plans, I will wait for payment from your insurance carrier if you are unable to pay up front.  I can either submit the claims for you or give you a receipt that you can submit. If you have an HMO you will not be covered to see me as an out of network therapist, but if you have a POS or a PPO, you most likely will be. You do, however, have to meet your deductible before your insurance will start to reimburse you for visits. </p>

    <p>Payment is by personal check or cash.</p>

    <p>I do reduce my fee when genuinely warranted. I also have access to some low fee resources and can refer you, if you wish.</p>
  </div>